astroalign==2.5.1
astropy==6.1.1
ccdproc==2.4.2
ginga
auto_mix_prep==0.2.0
matplotlib==3.9.1
mpl_point_clicker==0.4.1
numpy==1.26.4
photutils==1.13.0
PyQt5==5.15.11
PyQt5_sip==12.15.0
scipy==1.14.0
sep==1.2.1
typing_extensions==4.12.2
pyqtdarktheme
pytest
pytest-cov
mypy
flake8
tox
twine